body{
	background:#4F4F4F
}
#barbearia{
	width: 1000px;
}
.principal{
	background: #C0C0C0
}
.titulo-principal{
	text-align: center;
	font size: 50px;
	 color: red;

}
.segundario{
	color: blue;
}
#missao1{
	font-size: 20px;

}
#missao2{
	font-size: 20px;

}
#missao3{
	font-size: 20px;
	font-style: italic;

}
.beneficios{
	font-style: italic;
	background: #CCCCCC;
	font-size: 20px;
}
.itens{
	font-style: italic;
}
.titulo3{
  background: #FFFFFF
	padding: 20px;
}
.listabeneficios{
	display: inline-block;
	vertical-align:top;
	width: 20%;
	margin-right: 15%;
}
.beneficios2{
	width: 30%;
}
